.wrapper {
    display: flex !important;
    flex-direction: row;
    width: initial;
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 1;
    align-self: stretch;
    gap: 11% 11%;
    transition: border 0.3s, background 0.3s;
    border-style: solid;
    border-width: 3px 0 0 0;
    border-color: #000000;
    padding-block-start: 10px;
    padding-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
  }
  