
  .container {
    width: 400vw;
    height: fit-content;
    display: flex; 
    margin-top: 10vh;
  }
  
  .panel {
    width: 100vw;
    height: fit-content;
  }
  .itemBox1 {
    translate: none;
    rotate: none;
    scale: none;
    padding-left: 0;
    margin-top: 10vh;
    margin-left: 0;
    position: relative;
    width: 550px;
    margin-left: 60px;
    cursor: pointer;
  }
  .itemBox2 {
    translate: none;
    rotate: none;
    scale: none;
    margin-left: 60px;
    position: relative;
    width: 550px;
    cursor: pointer;

  }
  
  .Link {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }
  
  .article {
    position: relative;
    padding: 60px 60px;
    background: #f2f2f2;
    display: block;
    min-height: 25vh;
  }
  
  .span {
    font-family: "Roboto Mono";
    font-weight: var(--font-secondary-weight);
    font-style: normal;
    letter-spacing: 0em;
    font-size: 17px;
    margin-bottom: 10px;
    display: block;
  }
  
  .title {
    font-family: "Poppins";
    font-weight: var(--font-primary-weight);
    font-size: 45px;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 20px;
  
  }
  
  .para {
    font-family: "Poppins";
    font-weight: var(--font-accent-weight);
    font-size: 15px;
    /* margin-top: ; */
  }
  
  
  /* @media screen and (min-width: 1900px) {

    .itemBox1 {
    
      width: 850px;
     
    }
    .itemBox2 {
     
      margin-left: 60px;
      width: 850px;
    }
    .article {
      padding: 75px 125px;
      max-height: 500px;
    }

    .span {
    
      font-size: 27px;
      
    }
    .title {
 
      font-size: 55px;
    
    
    }
    .para {
   
      font-size: 32px;
    }
  
  } */